.profile-info {
    background-color: rgba(148, 225, 146, 0.36);
}

.description-block {

}

.avatar-block img {
    width: 60px;
}

.avatar-block image {
    height: 150px;
    box-shadow: 0 0 45px -3px rgba(0, 0, 0, 0.61);
}

