.app-wrapper {
    background-color: rgba(135, 142, 238, 0.36);

    margin: 5px auto;
    padding: 10px;
    text-align: center;
    display: grid;
    gap: 16px;
    grid-template-columns: minmax(200px, 1fr) minmax(400px, 3fr);
    grid-template-rows: 100px minmax(420px, 3fr) 150px;
    grid-template-areas:
            "header header"
            "sidebar content"
            "footer footer";
}

.app-wrapper>* {
    border: 3px solid rgba(38, 79, 79, 0.41);
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3),
    0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
